<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Kamil Slimak</p>
            <img class="portrait" src="/img/portret.jpg">
        </div>
        
        {{>footer}}

    </body>
</html>